@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap');

*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body{

    font: 400 14px Roboto, sans-serif;
    background: #f0f0f5;
    -webkit-font-smoothing : antialiased;
}

input, button, textarea{
    font: 400 18px Roboto, sans-serif;
}

button{
    cursor: pointer;
}

form input{
    width: 100%;
    height: 60px;
    color:#333;
    border: 1px solid #dcdce6;
    border-radius: 8px;
    padding: 0 24px;
}
form textarea{
    width: 100%;
    min-height: 140px;
    height: 60px;
    color:#333;
    border: 1px solid #dcdce6;
    border-radius: 8px;
    padding: 16 24px;
    line-height: 24px;
    resize: vertical;
}
.button{
    width: 100%;
    height: 60px;
    background: #e02041;
    border: 0;
    border-radius: 8px;
    color: #fff;
    font-weight: 700;
    margin-top: 16px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    line-height: 16px;
    transition: filter 0.2s;


}
.button:hover{
    filter: brightness(90%);
}

.backlink {
    display: flex;
    align-items: center;
    margin-top: 40px;
    color: #41414d;
    font-size: 18px;
    text-decoration: none;
    font-weight: 500;
    transition: opacity 0.2s;

}
.backlink svg{
    margin-right: 8px;
}

.backlink a:hover{
    opacity: 0.8;
}